<div class="center jumbotron">
  <h1>Sistema Nyx</h1>

  <h2>
    Serviço Funerário do Município de São Paulo
  </h2>

  <%= link_to "Cadastrar Técnico", signup_path, class: "btn btn-lg btn-primary" %>
</div>