<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Aee Consegui, <%= @user.name %>!!!</h1>
    <p>Era esse o assunto da mensagem que você queria mandar?</p>
  </body>
</html>