<% provide(:title, 'Objetos') %>
<h1>Objetos</h1>
<%= link_to "Cadastrar novo objeto",   new_objeto_path, class: "btn btn-default subtitulo" %>
<ul class="listar">
  <p><strong>Objetos: </strong></p>
  <% @objetos.each do |objeto| %>
    <li>
      <%= link_to objeto.nome, objeto %>
      | <%= link_to "editar", edit_objeto_path(objeto) %>
      <% if admin? %>
        | <%= link_to "deletar", objeto, method: :delete, data: { confirm: "Tem certeza que deseja deletar este objeto?" } %>
      <% end %>
    </li>
  <% end %>
</ul>