<% provide(:title, 'Técnicos') %>
<h1>Técnicos</h1>
<%= link_to "Cadastrar novo técnico", signup_path, class: "btn btn-default subtitulo" %>
<ul class="listar">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      | <%= link_to "editar", edit_user_path(user) %>
      <% if admin? && !current_user?(user) %>
        | <%= link_to "deletar", user, method: :delete, data: { confirm: "Tem certeza que deseja deletar este técnico?" } %>
      <% end %>
    </li>
  <% end %>
</ul>