<div class="avisos">
	<% if contadorAlerta > 0 %>
   		<div class="bola col-md-6 col-sm-6" id="aviso_estourados">
   			<font style="margin-left: -9px;"><%= contadorAlerta %></font>
   		</div>
	<% else %>
	<% end %>

	<% if contadorNovos > 0 %>
   		<div class="bola col-md-6 col-sm-6" style="background: blue" id="aviso_novos">
   			<%= contadorNovos %>
   		</div>
	<% else %>
	<% end %> 
</div>