<% provide(:title, 'Relações Técnico-Chamado') %>
<h1>Relações Técnico-Chamado</h1>
<ul class="listar">
  <p><strong>Relações Técnico-Chamado: </strong></p>
  <% @chamuserships.each do |chamusership| %>
    <li>
      <% user = User.find_by(id: chamusership.user_id) %>
      <% chamado = Chamado.find_by(id: chamusership.chamado_id) %>
      <%= link_to user.name, user  %>
      | <%= link_to chamado.descricao, chamado %>
      | <%= link_to "deletar", chamusership, method: :delete, data: { confirm: "Tem certeza que deseja deletar esta relação?" } %>
    </li>
  <% end %>
</ul>