<ul class="listar">
  <p><strong>Chamados: </strong></p>
  <% @chamados.each do |chamado| %>
    <% chamado.tecnicos.each do |e| %>
      <% if e.id == @user.id %>
        <li><%= link_to chamado.descricao, chamado %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>