<footer class="footer">
  <small>
    Sistema Nyx | SFMSP
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contato", '#' %></li>
      <li><a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/">Serviço Funerário do Município de São Paulo</a></li>
    </ul>
  </nav>
</footer>