<footer class="footer">
  <span>
    Sistema Nyx | SFMSP
  </span>
  <span id="link"><%= link_to "Serviço Funerário do Município de São Paulo", 'http://www.prefeitura.sp.gov.br/cidade/secretarias/servicos/servico_funerario/', :target => '_blank' %></span>
    
</footer>