<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "nyx", current_user, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><a id="nolink"> <%= "#{current_user.name}" %> </a></li>
          <li><a id="nolink"> | </a></li>
          <li style="font-size: 18px;"><%= link_to "", logout_path, method: "delete", class: "glyphicon glyphicon-off" %></li>
        <% else %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>