<% if @chamados_andamento.any? %>
  <ul class="listar">
    <p><strong>Chamados em andamento: </strong></p>
    <% @chamados_andamento.each do |andamento| %>
      <li>
        <%= link_to andamento.descricao, andamento %>
        | <%= link_to "Concluir chamado", edit_chamado_path(andamento, :concluir => "concluir", :status => "C") %>
      </li>
    <% end %>
  </ul>
<% end %>
<br>
<% if @chamados_espera.any? %>
  <ul class="listar">
    <p><strong>Chamados em espera: </strong></p>
    <% @chamados_espera.each do |espera| %>
      <li>
        <%= link_to espera.descricao, espera %>
        | <%= link_to("Aceitar chamado", chamado_path(espera, :status => "A"), :method => :put) %>
      </li>
    <% end %>
  </ul>
<% end %>